*, html, body {
	font-family: 'Raleway', sans-serif;
}

body, html {
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("Aglow.jpg");

    /* Full height */
    width: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white-text {
	color: white;
}

.max-height {
	height: 100%;
}

.vertical-center {
	position: relative;
	padding-top: 25rem;
}

.under-margin {
	padding-top: 10rem;
}

.body-text {
	font-size: 1.25rem;
	letter-spacing: 0.025rem;
}

.list-item-font {
	font-size: 1.25rem;
}

.user-quote {
    font-size: 2rem;
}

.user {
    font-size: 1rem;
    color: gray;
}

.container-fluid {
    margin: 2rem;
}

.img-spacer {
    margin-bottom: 4rem;
}